.slideshow {
	position: relative;
	width: 500px;
	height: 335px;
}

.slide {
	position: absolute;
	width: inherit;
	height: inherit;
	overflow: hidden;
	transition: opacity 1s ease-in-out;
}

.invisible-stuff {
	opacity: 0;
}

.opaque-stuff {
	opacity: 1;
}

.slide img {
	width: inherit;
	height: inherit;
	position: absolute;
}

%slide-text-shared {
	position: absolute;
    z-index: 1;
	text-align: center;
	width: 100%;
	bottom: 10px;
	transition: opacity 1s ease-in-out;
}

.slide-caption {
	@extend %slide-text-shared;
	background-color: #0009;
	bottom: initial;
	top: 0px;
	padding-top: 14px;
}

.slideshow .slide-controls {
	@extend %slide-text-shared;
}

.slideshow .slide-controls button {
	border: 0;
	border-radius: 0;
	font-size: 1rem;
	line-height: 1.2;
	white-space: nowrap;
	text-decoration: none;
	padding: 0.25rem 0.5rem;
	margin: 0;
	cursor: pointer;
	background-color: #0009;
	color: white;
}
