---
permalink: /404.html
layout: default
no-nav: true
title: 404 Not Found
---

<main>
    <h2>Oops! It looks like you might be lost (404 Not Found).</h2>
    <br />
    <span>Here are some pages that you might be looking for:</span>
    <ul>
      {% for item in site.data.navigation %}
        {% assign stuff = page.url | downcase | split: '/' %}
        {% assign pagepath =  stuff[1] | prepend: '/' | split: '.' %}
        
        <li>
            {% if item.external %}
                <a href="{{ item.url }}" class="link" target="_blank">
                    {{ item.name }}
                    <i class="fas fa-external-link-alt"></i>
                </a>
            {% else %}
                <a href="{{ item.url }}" class="link">
                    {{ item.name }}
                </a>
            {% endif %}

            <ul>
                {% for subitem in item.subitems %}
                    {% assign withHTML = subitem.url | append: '.html' %}
                    
                    <li>
                        <a href="{{ subitem.url }}" class="link">{{ subitem.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
      {% endfor %}
    </ul>
    <script>
        var loc = window.location;

        if (loc.pathname.replace('/', '') == 'brb.html') {
            loc.replace(loc.protocol + '//' + loc.hostname + (loc.port ? ':' + loc.port : '') + '/brb');
        }
    </script>
</main>
