<header>
  <!-- Menu button -->
  <div class="menu-btn">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </div>

  <!-- Menu open -->
  <nav class="menu">
    <div class="menu-branding">
      <div class="portrait"></div>
    </div>
    <ul class="menu-nav">
      {% for item in site.data.navigation %}

        {% assign stuff = page.url | downcase | split: '/' %}
        {% assign pagepath =  stuff[1] | prepend: '/' | split: '.' %}
        
        <li class="nav-item{% if item.url == page.url or item.url == pagepath[0] %} current{% endif %}">
          {% if item.subitems[0] %}
            <span class="nav-link nav-link-expandable">
              <a href="{{ item.url }}">
                {{ item.name }}
                {{ item.external }}
                {% if item.external %}
                  <i class="fas fa-external-link-alt"></i>
                {% endif %}
              </a>
              
              <span class="nav-down-arrow"><i class="fas fa-caret-down"></i></span>
            </span>
            
            <ul hidden class="menu-sublist">
              {% for subitem in item.subitems %}
                {% assign withHTML = subitem.url | append: '.html' %}
                
                <li class="nav-item-sub{% if subitem.url == page.url or withHTML == page.url %} current{% endif %}">
                  <a href="{{ subitem.url }}" class="nav-link">
                    {{ subitem.name }}
                    {% if subitem.external %}
                      <i class="fas fa-external-link-alt"></i>
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <a href="{{ item.url }}" class="nav-link">
              {{ item.name }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
