@import "text-stroke";

// This intentionally has high specificity (header nav.navbar) so it overrides other styles
header nav.navbar {
  padding: 0;

  /**
   * Class for a dropdown in the navigation menu that is also a link
   * (e.g., the clicking "Blue Ridge Brawl" in the menu takes you to
   * the main BRB page, but hovering (or clicking the arrow on mobile)
   * causes a dropdown menu with more links (schedule, etc.) to show up.
   */
  li.linked-dropdown {
    // Make the arrow and dropdown next to each other
    a.nav-link.link-text,
    a.nav-link.dropdown-toggle {
      display: inline-block;
    }

    // For mobile, make the click box larger for the arrow
    a.nav-link.dropdown-toggle {
      // The top margin must be 0 so that the onmouseout of the dropdown isn't triggered
      // when moving from the main link to the dropdown menu.
      margin-top: 0;
      
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  @media all and (min-width: $screen-lg) {
    // See https://bootstrap-menu.com/detail-basic-hover.html
    .navbar .nav-item .dropdown-menu {
      display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
      display: block;
    }
    .navbar .nav-item .dropdown-menu {
      margin-top: 0;
    }

    // Remove the margin on the left side of the dropdown arrow
    li.linked-dropdown a.nav-link.link-text {
      padding-right: 0;
    }
  }

  /**
   * General navigation menu styling
   */
  opacity: 0.9;
  background: darken($primary-color, 5);

  .nav-item, .dropdown-menu {
    font-weight: 300;
    font-size: 1.9em;
    padding: 0 0.2em;
    font-family: "Caesar Dressing", cursive;
    justify-content: center;
    transition: none;

    .nav-link, .dropdown-item {
      color: set-text-color($primary-color);
      transition: none;

      &:hover,
      &.active {
        color: $secondary-color;
        @include text-stroke(1, white);
      }
    }

    .dropdown-item {
      font-size: 0.5em;

      &.active, &:active {
        background: darken($primary-color, 10);
      }
    }
  }

  .navbar-toggler-icon {
    color: set-text-color($primary-color);
  }
  
  // Style the navbar expansion button to look better
  .navbar-toggler {
    font-size: 2em;
    padding: 0;
    margin: 0;

    // Center the icon in the middle of the button
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    // Potentially we could make the navbar sticky on mobile in the future
    //position: absolute;
    //top: 20px;
    //right: 20px;
  }

  .dropdown-menu {
    background: darken($primary-color, 10);
  }
}
